@charset 'utf-8'

// SET OTHER BULMA VARIABLES LIKE THIS:
$primary: #EBEBEB
$dark: #2D2D2D

@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: normal
  src: url('/fonts/Montserrat-Regular.ttf')

@font-face
  font-family: 'Montserrat Medium'
  font-style: normal
  font-weight: medium
  src: url('/fonts/Montserrat-Medium.ttf')

@font-face
  font-family: 'Montserrat Bold'
  font-style: normal
  font-weight: bold
  src: url('/fonts/Montserrat-Bold.ttf')

@font-face
  font-family: 'Montserrat SemiBold'
  font-style: normal
  font-weight: semi-bold
  src: url('/fonts/Montserrat-SemiBold.ttf')

$family-sans-serif: 'Montserrat', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif


.welcome-title
  font-family: 'Montserrat Bold'
  font-size: 80px

.button-container
  text-align: center

.register-button
  background-color: #AE0616
  border: none
  color: white
  padding: 10px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 20px
  font-family: 'Montserrat Bold'

.learn-more-button
  background-color: #AE0616
  border: none
  color: white
  padding: 10px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 22px
  font-family: 'Montserrat SemiBold'

.description-text
  font-family: 'Montserrat'
  font-size: 20px
  color: #4D4D4D

.footer-text
  font-family: 'Montserrat'
  font-size: 16px
  color: white
  padding-bottom: 12px

.footer-list-text
  font-family: 'Montserrat'
  font-size: 14px
  color: white
  padding-bottom: 10px

strong
  color: inherit

a.footer-link
  color: #97AFFF
  text-decoration: underline

#map
  height: 250px
  width: 100%

//carousel styling
.column.is-half.px-0.carousel-column
  overflow: hidden
  height: 440px

.slider-container:focus
  outline: none

.slider:focus
  outline: none

.slider
  width: inherit

.slider-pagination .slider-page
  box-shadow: none

.slider .slider-pagination .slider-page:hover
  transform: scale(1)

.slider .slider-pagination .slider-page.is-active
  background-color: #D0D0D0
  transform: scale(1)

.slider-container
  width: inherit

//import bulma
@import '~bulma/bulma.sass'

//carousel on mobile
@media only screen and (max-width: $tablet)
  .column.is-half.px-0.carousel-column
    width: 350px
    overflow: hidden
    margin: 1rem
    height: 300px
