AuthType Basic
AuthName "Restricted Files"
AuthBasicProvider file
AuthUserFile "/passwords"
Require user admin

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
DirectoryIndex router.php
#RewriteRule ^(|about-us|academics|calendar|registration|charitable-giving|contact-us)$ router.php [QSA,L]
