extends templates/basicPage.pug

block prepend header
  - const page = "About Us";

block append styles
  style.
    #thisShouldReallyBeInAnotherFile {
      display: none; /* No worries, it never will be used anyway */
    }

block append content
  section.section
    .container
      p.
        Filler Text
