extends templates/basicPage.pug

block prepend header
  - const page = "Annoucements";

block append content
  .container
    iframe(src='https://docs.google.com/document/d/e/2PACX-1vSZfnGxMgLsqvMdigUyTR4y3zKH-ZipDS4lTn3iM4DxFnR4gOX41eAxJ4K3Nssx_g/pub', embedded='true', single='true', widget='false', headers='false', width='100%', style='height: -webkit-fill-available')
