extends templates/basicPage.pug

block prepend header
  - const page = "announcements";

block append content
  .container.documentcontainer
    iframe(src=(lang=='en' ? 'https://drive.google.com/file/d/1Sia5AoxNAEuoSHlEvXtHIeFgZN-ahzXX/preview' : 'https://drive.google.com/file/d/1Sia5AoxNAEuoSHlEvXtHIeFgZN-ahzXX/preview'), width='100%', style='height: 100%; height: -webkit-fill-available;')
