extends templates/basicPage.pug

block prepend header
  - const page = "Announcements";

block append content
  .container.documentcontainer
    iframe(src=(lang=='en' ? 'https://drive.google.com/file/d/1gbsTMxWZyRGm7FafOIVZBBzzdMOPRkEl/preview' : 'other link'), width='100%', style='height: 100%; height: -webkit-fill-available;')
