extends templates/basicPage.pug

block prepend header
  - const page = "Annoucements";

block append content
  .container
    iframe(src='https://docs.google.com/document/d/e/2PACX-1vQp73uOdsS02bIGwoS8wjLswQaYlvP-nhs3iwloDgEEs5BBv4tgGQe3ezMr39jZ8pDBqO4iJUGsuKmt/pub' embedded='true' single='true' widget='false' headers='false' width='100%' style='height: -webkit-fill-available')
