extends templates/basicPage.pug

block prepend header
  - const page = "Bylaws";

block append content
  .container
    //needs to be updated to correct link!
    iframe(src='https://docs.google.com/document/d/e/2PACX-1vSQYIg0hl4SXQLQObWIUXikrtApXloWWwjs50RtJfb23YfnJplc7q-xjnsilVh3Gg/pub?', width='100%', style='height: -webkit-fill-available')
