extends templates/basicPage.pug

block prepend header
  - const page = "bylaws";

block append content
  .container.documentcontainer
    iframe(src=(lang=='en' ? 'https://drive.google.com/file/d/1hZBPTOC-DcZmiWE8KdrQA9JOBX1bvHeG/preview' : 'other link'), width='100%', style='height: 100%; height: -webkit-fill-available;')
