extends templates/basicPage.pug

block prepend header
  - const page = "Bylaws";

block append content
  .container.documentcontainer
    //needs to be updated to correct link!
    iframe(src='https://drive.google.com/file/d/1HGSyYFSPhhRM9LW8_lCSRaxlKpfSdgbr/preview', width='100%', style='height: 100%; height: -webkit-fill-available')
