extends templates/basicPage.pug

block prepend header
  - const page = "Classroom Rules";
  
block append content
  .container
    iframe(src='https://docs.google.com/document/d/e/2PACX-1vSofSfDk2ef9jjYOuTcIDT-e-oMHc7cU_2UdKFWfGnbcQkxpoJpJnCCiZwA754tRgHJjW593L2RsbZf/pub', width='100%', style='height: -webkit-fill-available')
