extends templates/basicPage.pug

block prepend header
  - const page = "rules";
  
block append content
  .container.documentcontainer
    iframe(src=(lang=='en' ? 'https://drive.google.com/file/d/1irABwMO6AWvTqAPlh7YLauPxzi5RS7DD/preview' : 'https://drive.google.com/file/d/1dPXY2n1B-baV4tnCMc3cALYLWzoMbmev/preview'), width='100%', style='height: 100%; height: -webkit-fill-available;')
