extends templates/basicPage.pug

block prepend header
  - const page = "rules";
  
block append content
  .container.documentcontainer
    iframe(src='https://drive.google.com/file/d/1NxkjFBOk_zoyi1dxyTaKmuDc1am_mVtp/preview', width='100%', style='height: 100%; height: -webkit-fill-available')
