extends templates/basicPage.pug

block prepend header
  - const page = "curriculum";

block append content
  .container.documentcontainer
    iframe(src='https://drive.google.com/file/d/1wakExwyYsTS8IGKYzhLn-cnM7QUmfSsm/preview', width='100%', style='height: 100%; height: -webkit-fill-available')
