extends templates/basicPage.pug

block prepend header
  - const page = "Drawing Contest";

block append content
  .container(style='padding: 1rem;')
    iframe(src='https://docs.google.com/presentation/d/e/2PACX-1vSSUZ6Yk1UTwATpPBv1BOebSFWzTV4WOYaa3dDJfO1ml7763XI5h5IUvsWyMAXiPA/embed?start=true&loop=false&delayms=3500' frameborder='0' width='100%' style='height: -webkit-fill-available' allowfullscreen mozallowfullscreen='true' webkitallowfullscreen='true')
