extends templates/page.pug

block append styles
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  //- link(rel='stylesheet', href='/styles/bootstrap.min.css')
  link(rel='stylesheet', href='/styles/carousel.css')

block prepend header
  - let page = "Home"

block content
    section.hero.is-medium.has-home-background-img
      .transparent-layer
        .container
          .hero-body
            h1.welcome-title.has-text-white.has-text-centered.has-text-weight-bold.is-size-1-mobile  Welcome
            .button-container
              a.register-button.dark-on-hover(href='/registration.pug') Register Here

    section.hero.is-medium.is-light
      .hero-body.py-6
        .container
          .columns.carousel-text-container.is-vcentered
            .column
              p.description-text #[strong The Chinese Language School of Columbia (CLSC)] was founded in 1975 in Howard County, MD. Since 2008, the school has been a proud partner of the Howard County Public School system. The school offers Chinese Language classes to both native and non-native speakers with emphasis on speaking Mandarin and writing traditional Chinese characters. Classes are held for two hours each Sunday afternoon and also includes cultural activities such as introduction to Chinese yo-yo, poetry, calligraphy, traditional cooking, and adult Tai-Chi.

            .column.is-half.px-0.carousel-column.mb-0
              .carousel
                img.slide.transition(src='/images/Image1.JPG', style='width:100%', alt='')
                img.slide.transition(src='/images/Image2.JPG', style='width:100%', alt='')
                img.slide.transition(src='/images/Image3.JPG', style='width:100%', alt='')
                img.slide.transition(src='/images/Image4.JPG', style='width:100%', alt='')
                a.prev-btn(onclick='nextSlide(-1)') &#x276E;
                a.next-btn(onclick='nextSlide(1)') &#x276F;
                br
                div(name='all-clickers', style='text-align:center')
                  span.clicker(onclick='displaySlide(1)')
                  span.clicker(onclick='displaySlide(2)')
                  span.clicker(onclick='displaySlide(3)')
                  span.clicker(onclick='displaySlide(4)')

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')
    section

    script.
      var slideIndex = 1;
      display(slideIndex);

      function displaySlide(num) {
        display(slideIndex = num);
      }

      function nextSlide(num) {
        display(slideIndex += num);
      }

      function display(num) {
        var slideNum = document.getElementsByClassName("slide");
        if (num > slideNum.length) {
          slideIndex = 1
        }
        if (num < 1) {
          slideIndex = slideNum.length
        }
        var i;
        for (i = 0; i < slideNum.length; i++) {
            slideNum[i].style.display = "none";
        }
        var clickers = document.getElementsByClassName("clicker");
        for (i = 0; i < clickers.length; i++) {
            clickers[i].className = clickers[i].className.replace(" current", "");
        }
        slideNum[slideIndex-1].style.display = "block";
        clickers[slideIndex-1].className += " current";
      }

block append content
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3090.743152643566!2d-76.81413608448952!3d39.22599873511235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7e01cf9870471%3A0x686d3e6588b4008!2s8700%20Old%20Annapolis%20Rd%2C%20Ellicott%20City%2C%20MD%2021043!5e0!3m2!1sen!2sus!4v1599409685902!5m2!1sen!2sus', width='100%', height='250', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')
