extends templates/page.pug

block append styles 
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

block prepend header
  - let page = "Home"

block content
    section.hero.is-medium.has-home-background-img
      .transparent-layeroo
        .container
          .hero-body
            p.welcome-title.has-text-white.has-text-centered Welcome
            .button-container
              a.register-button Register Here
    
    section.hero.is-light
      .container
        .hero-body.py-6
          .columns.is-desktop
            .column.is-half.col-one
              p.description-text #[strong The Chinese Language School of Columbia (CLSC)] was founded in 1975 in Howard County, MD. Since 2008, the school has been a proud partner of the Howard County Public School system. The school offers Chinese Language classes to both native and non-native speakers with emphasis on speaking Mandarin and writing traditional Chinese characters. Classes are held for two hours each Sunday afternoon and also includes cultural activities such as introduction to Chinese yo-yo, poetry, calligraphy, traditional cooking, and adult Tai-Chi.

            .column.is-half.carousel-column.col-two
              // carousel
              .carousel#carousel-demo
                .item-1
                  figure.image.is-3by2
                    img(src='images/Image1.JPG')
                .item-2
                  figure.image.is-3by2
                    img(src='images/Image2.JPG')
                .item-3
                  figure.image.is-3by2
                    img(src='images/Image3.JPG')
                .item-4
                  figure.image.is-3by2
                    img(src='images/Image4.JPG')
                .item-5
                  figure.image.is-3by2
                    img(src='images/Image5.JPG')
          
          .button-container
            a.learn-more-button Learn More
    script(src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js")
    section
      .map(id="map")
      
      script.
          // Initialize and add the map
          function initMap() {
            // The location of Howard High School
            var howardHighSchool = {lat: 39.226202, lng: -76.812409};
            // The map, centered at Howard High School
            var map = new google.maps.Map(document.getElementById('map'), {zoom: 16.7, center: howardHighSchool});
          // The marker, positioned at Howard High School
          var marker = new google.maps.Marker({position: howardHighSchool, map: map});
          // initalize carousel
          bulmaCarousel.attach('#carousel-demo', {
            autoplay: true,
            slidesToShow: 1,
            navigationSwipe: true,
            infinite: true
          });
         }

      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYLXhDSP2OUR5HXKWgEmh0uRVNMNHm-bs&callback=initMap")

block footer
    section.hero.is-small.is-dark
      .container
        .hero-body
          .columns
            .column
              p.footer-text 2020 @ Chinese Language School of Columbia. All Rights Reserved.
              p.footer-text Website Created by #[a.footer-link WebPoint]
              span.fab.fa-twitter-square

            .column
              p.footer-list-text #[Strong.footer-text School Address:] 8700 Old Annapolis Rd, Ellicott City MD, 21043
              p.footer-list-text #[Strong.footer-text Mailing Address:] P.O. Box 1292 Ellicott City MD, 21041
              p.footer-list-text #[Strong.footer-text Principal:] clsc.principal@clscweb.org
              p.footer-list-text #[Strong.footer-text Dean:] clsc.dean@clcsweb.org
              p.footer-list-text #[Strong.footer-text Registrar:] clsc.registrar@clscweb.org
              
