extends templates/basicPage.pug

block prepend header
  - const page = "teachers";

block append content
  .container(style='padding: 1rem; display:flex; justify-content: center;align-items: center;')
    iframe.slides(src=(lang=='en' ? 'https://docs.google.com/presentation/d/e/2PACX-1vRKJVfPL5JF346CgrSDMG-rcyg1rCO7h9P3dBNP35J-jJGWk5K68iKU2vX4pnFLUw/embed?start=false&loop=false&delayms=3000' : 'https://docs.google.com/presentation/d/e/2PACX-1vS0tyZPLTc41CCQVGMQ4MpvFra_mnhrdh5Z16nUcGZ7iNTi0LWieL5EsIUGI5-9pg/embed?start=false&loop=false&delayms=3000'), frameborder='0', allowfullscreen, mozallowfullscreen='true', webkitallowfullscreen='true')
