extends templates/basicPage.pug

block prepend header
  - const page = "Virtual Classroom Rules";

block append content
  .container.documentcontainer
    iframe(src='https://drive.google.com/file/d/1OljydG1GMtL5Q0bEjOBWmpQ6yC5cVV0k/preview', width='100%', style='height: 100%; height: -webkit-fill-available')
