extends templates/basicPage.pug

block prepend header
  - const page = "Virtual Classroom Rules";

block append content
  .container
    iframe(src='https://docs.google.com/document/d/e/2PACX-1vR1QzcR0iDQvUeepVMeuDUhuNpmmhs6Ad6Pe_P5ErnDJObpCH40wK4q62-cqJ4SO8WkXBRxiTUYMHx4/pub', width='100%', style='height: -webkit-fill-available')
